/* width
height
display
position
padding - внутренний отступ
margin - внешний отступ
border
background
color
БЭМ
FLEX
GRID

npm i serve

Настроить отдачу статики
0. ВСЁ ДОБАВИТЬ В ГИТ

1. Выучить свойства и их значения

2. SVG меняем на текст

3. Исходя из приобретенных знаний переделать header
на flex вёрстку

4. Header сделать через display: grid

5. Почитать медиавыражения

6. Почитать про ARIA


===============
7. Positions: absolute(left, right, top, bottom), relative, fixed, sticky

8. выровнять размер блоков

9. сделать на Flex что бы пружинило

10. поправить медиа выражения что бы не уезжал логотип

*/

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex: 1 0 auto;
    margin-right: 30px;
    

}

.header_section{
    display: flex;
    align-items: center;
    
    
}

.headerlogo{
    margin: auto 30px;
}
.headerButton{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.headerButton:hover{
    background: rgb(228, 228, 228);
}


.headerNav a{
    
    text-decoration: none;
    color:#2b2b2b;
    text-transform: uppercase;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.headerNav img{
    width: 18px;
}

.headerNavLeft{
    display: flex;
    align-items: center;


}

.headerNavLeft a{

    padding: 15px 15px 15px 15px;
}

.search{
    display: flex;
    position: relative;
    border-radius: 10px;
    transition-duration: 0.5s;
    
}
.likeButton{
    display: flex;
    position: relative;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.menuButton{
    display: flex;
    position: relative;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.searchBtn{
    transition: 0.5s;
}

.search:hover > .searchText {
    width: 200px;
    padding: 0 15px;
    
}

.searchText {
    
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #2b2b2b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0;
}

.search:hover{
    background: rgb(228, 228, 228);
    
}

.likeButton:hover{
    background: rgb(228, 228, 228);
    padding: 20 20 20 20;
}

.menuButton:hover{
    background: rgb(228, 228, 228);
    padding: 20 20 20 20;
}



/* ---------------- */

main{
    flex: 1 0 auto;
    display: flex ;
    flex-direction: column;
    position: relative;
    align-self: center;
    margin-top: 10px;
}
/* ---------------- */
.l-container{
    flex: 1 0 auto;
    display: flex;
}

.l-nav{
    display: flex;
    flex: none;
    flex-direction: column;
    min-width: 0;
    width: 300px;
    margin-left: 30px;
}

.all-goods{
    /* margin-top: 5px; */
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.all-fabrics{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
}

.all-fabrics span{
    font-size: 14px;
    font-weight: bold;
    margin-bottom:15px; 
}

.l-nav label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.all-fabrics input {
    
    appearance:initial;
}

.all-fabrics label{
    padding-left:12px;
}

.check .check_box{
    position: absolute;
    margin-left: -1.7em;
    width: 16px;
    height: 16px;
    vertical-align: -10px;
    background-image: url(../css/img/off.svg);
    transform: translate(0px, 4px); 
}

.check__color .check_box_white{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/white.svg); 
}

.check__color .check_box_peachcolor{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/peachcolor.svg);

}

.check__color .check_box_silver{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/silver.svg);
}

.check__color .check_box_yellow{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/yellow.svg);
}

.check__color .check_box_whitegrade{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/whitegrade.svg);   
}

/* состояния checkbox */
.check__input:checked + .check_box{
    background-image: url(../css/img/on.svg);
}

.check__input:checked + .check_box_peachcolor{
    position: absolute;
    margin-left: -1.7em;
    width: 22px;
    height: 22px;
    vertical-align: -10px;
    transform: translate(-2px, 1px);
    background-image: url(../css/img/peachcolor_on.svg);
}

.check__input:checked + .check_box_whitegrade{
    position: absolute;
    margin-left: -1.7em;
    width: 22px;
    height: 22px;
    vertical-align: -10px;
    transform: translate(-2px, 1px);
    background-image: url(../css/img/whitegrade_on.svg);
}


/* ---------------- */

.panel_content a{
    text-decoration: none;
    color:black;

}
.pageContent_name{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 40px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.pageContent_info{
    margin-top: 10px;
    margin-right: 35px;
}
.pageContent_sort{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-right: 40px;
}

.pageContent_button button{
    background-color:white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px 20px;
    margin-right: 10px;
    transition-duration: 0.3s;
}
.pageContent_button button:hover{
    background-color: black;
    color: white;
}



/* ---------------- */

.infoSection_container{
    margin-top: 40px;
    margin-right: 8px;
}

.info_blockHeader{
    font-size:24px;
    font-weight: bold;
}

.info_blockMain{
    font-size:16px;
    margin-top:10px;
    margin-right: 35px;
}
/* ---------------- */

.pageContent_panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 35px;
    margin-top: 20px ;
    padding-right: 10px;
}

.views_row{
padding-right: 15px;
padding-bottom: 30px;
}
.views_row img{
    width: 330px;
}

.views_row_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

.views_row input{
    appearance: none;
}

.views_row .check_like{
    position: absolute;
    width: 31px;
    height: 31px;
    background-image: url(../css/img/check_like_off.svg);
    border-radius: 50%;
    transform: translate(-40px, 10px); 
    transition-duration: 0.1s;
}

.check__input:checked + .check_box_like{
    background-image: url(../css/img/check_like_on.svg);
}




/* ---------------- */

footer{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
   
}

.footerLogo{
    margin-top: 0px;
    margin-left: 30px;
}

.footerCompany{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}


.footerCompany ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

.footerCompany ul li a{
    text-decoration: none;
    color: black;
}

.footerHelp{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.footerHelp ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.footerHelp ul li a{
    text-decoration: none;
    color: black;
}

.footerCatalog{
    display: flex;
 
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.footerCatalog ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    
    padding: 0px;
    margin: 0px;
 
}

.footerCatalog ul li a{
    text-decoration: none;
    color: black;
}

.footerTop{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  

}


.footerContact{
    margin-right: 15px;
}

.footerPosition{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.city{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color:#2b2b2b;
}

.phone{
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color:#2b2b2b;
    margin-bottom: 15px;
}

.hr-footTop{
    margin: 50px 15px 30px 25px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;

}

.hr-dashed{
    margin: 30px 15px 0px 25px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px dashed #ddd;
}

.footerBottom{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 15px 0px 25px;
}
.SocialNetwork a{
    margin: auto 15px;

}

@media screen and (max-width: 1200px) {
    .headerButton img{
        width: 25px;
        
    }

    .headerNav a{
        font-size: 0;
    }
    
    
}

@media screen and (max-width: 996px) {
    .headerNav a{
        font-size: 0;
    }
    
}

@media screen and (max-width: 625px) {
    
    .headerNav a{
        margin: auto 10px;
    }
    
}

@media screen and (max-width: 550px) {

    header{
        justify-content: center;
    }
    .headerNav{

        display: none;
    
    }
    
}




