body{
    font-family: 'Inter';
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex: 1 0 auto;
    margin-right: 30px;
}
.header__logo{
    margin: auto 30px;
}

.header__section{
    display: flex;
    align-items: center;
}

.button__item{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.button__item:hover{
    background: rgb(228, 228, 228);
}

.button__item a{
    text-decoration: none;
    color:#2b2b2b;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Inter';
    padding: 5px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav a{
    padding: 15px 15px 15px 15px;
}

.nav__search{
    display: flex;
    position: relative;
    border-radius: 10px;
    transition-duration: 0.5s;  
}

.nav__search:hover > .search-text {
    width: 200px;
    padding: 0 15px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #2b2b2b;
    font-family: 'Inter';
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0;
}

.nav__search:hover{
    background: rgb(228, 228, 228);
    
}
.nav__like{
    display: flex;
    position: relative;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.nav__like:hover{
    background: rgb(228, 228, 228);
    padding: 20 20 20 20;
}

.nav__menu{
    display: flex;
    position: relative;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.nav__menu:hover{
    background: rgb(228, 228, 228);
    padding: 20 20 20 20;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

main{
    flex: 1 0 auto;
    display: flex ;
    flex-direction: column;
    position: relative;
    align-self: center;
    margin-top: 10px;
}

.side__panel{
    display: flex;
    flex: 1 0 auto;
    
}

.side__panel__container{
    display: flex;
    flex: none;
    flex-direction: column;
    min-width: 0;
    width: 300px;
    margin-left: 30px;
}

.container__heading{
    font-size: 14px;
    font-family:'Inter';
    font-style: normal;
    color: #2B2B2B;
}

.container__checkbox{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
}

.container__checkbox span{
    font-size: 14px;
    font-weight: bold;
    margin-bottom:15px; 
}

.side__panel__container label{
    font-family: 'Inter';
    color:#494949;
    font-size: 14px;
    line-height: 24px;
}

.container__checkbox input {
    
    appearance:initial;
}

.container__checkbox label{
    padding-left:12px;
}

.check .check_box{
    position: absolute;
    margin-left: -1.7em;
    width: 16px;
    height: 16px;
    vertical-align: -10px;
    background-image: url(../css/img/off.svg);
    transform: translate(0px, 4px); 
}

.check__color .check_box_white{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/white.svg); 
}

.check__color .check_box_peachcolor{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/peachcolor.svg);

}

.check__color .check_box_silver{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/silver.svg);
}

.check__color .check_box_yellow{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/yellow.svg);
}

.check__color .check_box_whitegrade{
    position: absolute;
    margin-left: -1.7em;
    width: 18px;
    height: 18px;
    vertical-align: -10px;
    transform: translate(0px, 3px);
    background-image: url(../css/img/whitegrade.svg);   
}

/* состояние ON checkbox */
.check__input:checked + .check_box{
    background-image: url(../css/img/on.svg);
}

.check__input:checked + .check_box_white{
    position: absolute;
    margin-left: -1.7em;
    width: 22px;
    height: 22px;
    vertical-align: -10px;
    transform: translate(-2px, 1px);
    background-image: url(../css/img/white_on.svg);
}

.check__input:checked + .check_box_peachcolor{
    position: absolute;
    margin-left: -1.7em;
    width: 22px;
    height: 22px;
    vertical-align: -10px;
    transform: translate(-2px, 1px);
    background-image: url(../css/img/peachcolor_on.svg);
}
.check__input:checked + .check_box_silver{
    position: absolute;
    margin-left: -1.7em;
    width: 22px;
    height: 22px;
    vertical-align: -10px;
    transform: translate(-2px, 1px);
    background-image: url(../css/img/silver_on.svg);
}
.check__input:checked + .check_box_yellow{
    position: absolute;
    margin-left: -1.7em;
    width: 22px;
    height: 22px;
    vertical-align: -10px;
    transform: translate(-2px, 1px);
    background-image: url(../css/img/yellow_on.svg);
}

.check__input:checked + .check_box_whitegrade{
    position: absolute;
    margin-left: -1.7em;
    width: 22px;
    height: 22px;
    vertical-align: -10px;
    transform: translate(-2px, 1px);
    background-image: url(../css/img/whitegrade_on.svg);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.breadcrumb li{
    list-style: none;
    display: inline;
}

.breadcrumb a{
    text-decoration: none;
    color:#2B2B2B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;  
}


.breadcrumb > li + li:before{
    color:#494949;
    content: "/ ";
    font-size: 12px;  
    font-family: 'Inter';
}

.breadcrumb + li:active{
    color: coral;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.content__info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: bold;
}

.content__info__text{
    margin-top: 10px;
    margin-right: 35px;
    font-family: 'Inter';
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.content__sorting{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-right: 40px;
}

.sorting__button button{
    
    font-family: 'Inter';
    font-size: 12px;
    background-color:white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 7px 15px 7px 15px;
    margin-right: 10px;  
}
.sorting__button button:hover{
    background-color: black;
    color: white;    
}

.sorting__discovered{
    font-family: 'Inter';
    font-size: 12px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.content__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 35px;
    margin-top: 20px ;
    padding-right: 10px;
}

.content__view{
padding-right: 15px;
padding-bottom: 30px;
}
.content__view img{
    width: 330px;
}

.content__view__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    font-family: 'Inter';
    font-size: 16px;
}

.content__view input{
    appearance: none;
}

.naming{
    font-family: 'Inter';
    font-size: 16px;
}

.naming:hover{
    font-family: 'Inter';
    font-size: 16px;
    color:#E89F38 ;
}

.article{
    font-family: 'Inter';
    font-size: 14px;
    color: #707070;
}

.content__view .check__like{
    position: absolute;
    width: 31px;
    height: 31px;
    background-image: url(../css/img/check_like_off.svg);
    border-radius: 50%;
    transform: translate(-40px, 10px); 
    transition-duration: 0.1s;
}

.check__input:checked + .check__box-on{
    background-image: url(../css/img/check_like_on.svg);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.paging{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}

#paging__block{
    display: flex;
    justify-content: space-between;
}

.paging__block a{
    text-decoration: none;
    font-family: 'Inter';
    font-size: 14px;
    color: black;
    margin-right: 10px;
}



.block__direction{
    border: 1px solid black;
    padding: 9px 13px 9px 13px;
}

.block__numpage{
    border: 1px solid black;
    padding: 9px 13px 9px 13px;
}

.block__direction:hover{
    background-color: black;
    color: white;
}

.block__numpage:hover{
    background-color: black;
    color: white; 
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.unhide__button button{
    font-family: 'Inter';
    font-size: 14px;
    background-color:white;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 9px 15px 9px 15px;
    margin-right: 10px;
}

.unhide__button button:hover{
    background-color: black;
    color: white;    
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.delivering__container{
    margin-top: 40px;
    margin-right: 8px;
}

.heading__container{
    font-size:24px;
    font-weight: bold;
    font-family: 'Inter';
}

.text__container{
    font-size:16px;
    margin-top:10px;
    margin-right: 35px;
    font-family: 'Inter';
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.hr-top-footer{
    margin: 50px 15px 30px 25px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

footer{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; 
    margin-right: 30px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer__logo{
    margin-top: 0px;
    margin-left: 30px;
}

.footer__top__item{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}


.footer__top__item ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

.footer__top__item ul li a{
    text-decoration: none;
    color: black;
}

.footer__top_headline{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.cfooter__top_city{
    font-size: 13px;
    font-family: 'Inter';
    font-weight: normal;
    color:#2b2b2b;
}

.footer__top_phone{
    font-size: 26px;
    font-family: 'Inter';
    font-weight: normal;
    color:#2b2b2b;
    margin-bottom: 15px;
}

.hr-bottom-footer{
    margin: 30px 15px 0px 25px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px dashed #ddd;
}

.footer__bottom__item{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Inter';
    margin: 30px 15px 0px 25px;
}
.footer__bottom__item_social-network a{
    text-decoration: none;
} 
.footer__bottom__item_social-network svg{
    padding: 0px 15px;
} 

.icon__vk{
    width: 28px;
    height: 15px;
}
.icon__insta{
    width: 18px;
    height: 18.04px;
}
.icon__ok{
    width: 13.35px;
    height: 20.07px;
}

@media screen and (max-width: 1200px) {
    .header__section img{
        width: 25px;
        
    }
    .header__section a{
        font-size: 0;
    } 
}

@media screen and (max-width: 996px) {
    .header__section a{
        font-size: 0;
    } 
}

@media screen and (max-width: 625px) {
    
    .header__section a{
        margin: auto 10px;
    }  
}

@media screen and (max-width: 550px) {

    header{
        justify-content: space-between;
    }
    .header__section{

        display: none;
    }  
}