/* width
height
display
position
padding - внутренний отступ
margin - внешний отступ
border
background
color
БЭМ
FLEX
GRID

npm i serve

Настроить отдачу статики
0. ВСЁ ДОБАВИТЬ В ГИТ

1. Выучить свойства и их значения

2. SVG меняем на текст

3. Исходя из приобретенных знаний переделать header
на flex вёрстку

4. Header сделать через display: grid

5. Почитать медиавыражения

6. Почитать про ARIA


===============
7. Positions: absolute(left, right, top, bottom), relative, fixed, sticky

8. выровнять размер блоков

9. сделать на Flex что бы пружинило

10. поправить медиа выражения что бы не уезжал логотип

*/

header{
    display: flex;
    justify-content: space-between;
}

.header_section{
    display: flex;
    align-items: center;
}
.headerButton:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
}

.headerlogo{
    margin: auto 30px;
}

.headerNav a{
    margin: auto 30px;
    
    text-decoration: none;
    color:#2b2b2b;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Circe;
    padding: 5px;
}

.headerNavLeft{
    margin-left: auto 30px;
}

.headerNavLeft a{
    margin: auto 20px;
}



@media screen and (max-width: 1366px) {
    .headerNav a{
        
    }
    
}




